@using Microsoft.Marketplace.SaaS.Models
@using CommandCenter.Models
@model CommandCenter.Models.AzureSubscriptionProvisionModel

@{
    ViewData["Title"] = "Request Submitted";
}

<h1>A Request has already been received for this subscription.</h1>
<div class="row">
    <div class="col-sm-12">
        <p>We have already received a submission for this subscription and you will be contacted by Faction within 24 hours. </p>
        <p>If you need to contact us regarding the status of your request, or to make changes to your request, please contact our Sales team by calling us at <a href="tel:1-720-442-9705">1-720-442-9705</a></p>
    </div>
</div>
<div class="row">
    <div style="text-align:center;" class="col-sm-12">
        <a href="https://www.youtube.com/watch?v=UaTs3mkU8Tw">Video: Learn How to Overcome Data Gravity with a True Multi-Cloud Approach</a>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <ol>
            <li style="font-weight:bold;">
                Order Received
                <ul style="font-weight:normal;">
                    <li>Each client onboarding is assigned a Project Manager who will oversee the timeline and deliverables.</li>
                </ul>
            </li>
            <li style="font-weight:bold;">
                Solution Design Validation
                <ul style="font-weight:normal;">
                    <li>We will work with you to validate existing environment information, finalize your business use case, and capture the final solution design.</li>
                </ul>
            </li>
            <li style="font-weight:bold;">
                Ready for Implementation
                <ul style="font-weight:normal;">
                    <li>Once validation is complete, the process to provision your environment begins.  At this phase, your timeline is committed and a project plan is finalized.</li>
                </ul>
            </li>
            <li style="font-weight:bold;">
                Implementation
                <ul style="font-weight:normal;">
                    <li>Your Solution build process is underway.</li>
                </ul>
            </li>
            <li style="font-weight:bold;">
                Quality Assurance
                <ul style="font-weight:normal;">
                    <li>Internal testing and validation is scheduled and executed.</li>
                </ul>
            </li>
            <li style="font-weight:bold;">
                Access to the Environment
                <ul style="font-weight:normal;">
                    <li>At this time, you will receive access to your environment and we will provide a walkthrough.</li>
                </ul>
            </li>
            <li style="font-weight:bold;">
                User Acceptance Testing
                <ul style="font-weight:normal;">
                    <li>You will perform a final review of your environment and provide confirmation that all build components are in place as per the order.</li>
                </ul>
            </li>
        </ol>
    </div>
</div>